{% extends 'base.html.twig' %}

{% block title %}Boeken{% endblock %}

{% block body %}
    <h1>Boeken</h1>

    <a href="{{ path('app_boek_new') }}" class="btn btn-primary">Nieuw Boek</a>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Auteur</th>
            <th>Acties</th>
        </tr>
        </thead>
        <tbody>
        {% for boek in boeks %}
            <tr>
                <td>{{ boek.id }}</td>
                <td>{{ boek.titel }}</td>
                <td>{{ boek.auteur ? boek.auteur.naam : 'Geen Auteur' }}</td>
                <td>
                    <a href="{{ path('app_boek_show', {'id': boek.id}) }}" class="btn btn-info">Bekijk</a>
                    <a href="{{ path('app_boek_edit', {'id': boek.id}) }}" class="btn btn-warning">Bewerk</a>
                    {{ include('boek/_delete_form.html.twig') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
